# Multiline excute code

In [1]:
emp_detail : str = """
print("My Name is Tariq")
a : int = 7
b : int = 5

print (a + b)
"""
exec(emp_detail)

My Name is Tariq
12

# Function dir() - returns all properties and methods

In [22]:
a : list[str] = [i for i in dir(str) if "__" not in i]
print (a)
print (len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

# Pandas Library

In [1]:
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

# Multiple assignment (Unpacking)

In [19]:
a, b, c = "Tariq Maqbool", 40, 5.6
print(a)
print(b)
print(c)

print("-----------")

a, *b = "Tariq Maqbool", 40, 5.6
print(a)
print(*b)

print("-----------")

a = "Tariq Maqbool", 40, 5.6
print(a)
print(*a)

Tariq Maqbool
40
5.6
-----------
Tariq Maqbool
40 5.6
-----------
('Tariq Maqbool', 40, 5.6)
Tariq Maqbool 40 5.6

# Walrus operator (:=) start 3.8 python

In [71]:
n = 15
if (m := n) > 10:
    print(f"{m} is greater than 10")
else:
    print(f"{m} is not greater than 10")
print("-----------")    
    
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = []

for item in data:
    if item > 5:
        result.append(item)
print(f"Data List: {data}")
print(f"Greater than 5: {result}")

    
print("-----------")

numbers = [1, 4, 7, 2, 8, 5]
threshold = 5
index = 0

while (current := numbers[index]) < threshold:
    print(f"Processing {current} (index {index})")
    index += 1

print(f"Stopped at {current} (index {index}), as it is greater than or equal to {threshold}")

15 is greater than 10
-----------
Data List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Greater than 5: [6, 7, 8, 9, 10]
-----------
Processing 1 (index 0)
Processing 4 (index 1)
Stopped at 7 (index 2), as it is greater than or equal to 5

# List / Indexing and Slicing
    *Postive and negative  Index

In [120]:
a : int = 10_000_00
print(f"Long value for understand (10_000_00): {a}")

my_list : list[str] = list("1234567890")
print(my_list) 
print("-----------")

my_list = [10, 20, 30, 40, 50]

# Basic slicing
print(f"Postive --> {my_list[0:3]}")  
print(f"Negative  --> {my_list[-1:-3:-1]}")

Long value for understand (10_000_00): 1000000
['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']
-----------
Postive --> [10, 20, 30]
Negative  --> [50, 40]

# List Functions

In [1]:
my_list : list[str] = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']
print(f"My List :{my_list}")
print(f"Pop (remove) Index 1: {my_list.pop(2)}")
print(f"My List (Updated) :{my_list}")
my_list.append("3")
print(f"My List (Updated) :{my_list}")
my_list.insert(2,"3")
my_list.pop(10)
print(f"My List (Updated) :{my_list}")
new_list : list[str] = ["1011","1012","1013"]
my_list.extend(new_list)
print(f"My List (Extended) :{my_list}")

My List :['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']
Pop (remove) Index 1: 3
My List (Updated) :['1', '2', '4', '5', '6', '7', '8', '9', '0']
My List (Updated) :['1', '2', '4', '5', '6', '7', '8', '9', '0', '3']
My List (Updated) :['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']
My List (Extended) :['1', '2', '3', '4', '5', '6', '7', '8', '9', '0', '1011', '1012', '1013']

# Loop Iteration Standard

In [17]:
members : list [str] = ["Tariq", "Maqbool", "Nadeem", "Fahim","Ali"]

for member in members:
    print(f"Name: {member}")
print ("-------")
for member in members[1:2:1]:
    print(f"Name: {member}")
    
print ("-------")
for t in range(1,11,1):
    print(f"2 x {t} = {2*t}")

Name: Tariq
Name: Maqbool
Name: Nadeem
Name: Fahim
Name: Ali
-------
Name: Maqbool
-------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

# Tuple List  & Comperhansive List

In [49]:
from typing import Union
pretype = Union[str,float,int]

members : tuple [pretype] = ["Tariq", ["Nadeem", 65, 1], 1980, 5.5]
print("PreType List or Tuple by Union")
for member in members:
    print(f"Name: {member}")

members[1].append("20")
print("------")
print(f"Member list (Updated): {members}")
print("------")
print(f"Comperhansive List:")


student : Union[str,int] = "Tariq",30,110.2
print(student)

PreType List or Tuple by Union
Name: Tariq
Name: ['Nadeem', 65, 1]
Name: 1980
Name: 5.5
------
Member list (Updated): ['Tariq', ['Nadeem', 65, 1, '20'], 1980, 5.5]
------
Comperhansive List:
('Tariq', 30, 110.2)

# Zip and Unzip

In [51]:
members : list [str] = ["Tariq", "Maqbool", "Nadeem", "Fahim","Ali"]
member_age : list[int] = [40, 50, 70, 55,23]
member_data : list[Any] = zip(members, member_age)

[('Tariq', 40), ('Maqbool', 50), ('Nadeem', 70), ('Fahim', 55), ('Ali', 23)]