# Multiline excute code

In [1]:
emp_detail : str = """
print("My Name is Tariq")
a : int = 7
b : int = 5

print (a + b)
"""
exec(emp_detail)

My Name is Tariq
12

# Function dir() - returns all properties and methods

In [22]:
a : list[str] = [i for i in dir(str) if "__" not in i]
print (a)
print (len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

# Pandas Library

In [1]:
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

# Multiple assignment (Unpacking)

In [19]:
a, b, c = "Tariq Maqbool", 40, 5.6
print(a)
print(b)
print(c)

print("-----------")

a, *b = "Tariq Maqbool", 40, 5.6
print(a)
print(*b)

print("-----------")

a = "Tariq Maqbool", 40, 5.6
print(a)
print(*a)

Tariq Maqbool
40
5.6
-----------
Tariq Maqbool
40 5.6
-----------
('Tariq Maqbool', 40, 5.6)
Tariq Maqbool 40 5.6

# Walrus operator (:=) start 3.8 python

In [71]:
n = 15
if (m := n) > 10:
    print(f"{m} is greater than 10")
else:
    print(f"{m} is not greater than 10")
print("-----------")    
    
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = []

for item in data:
    if item > 5:
        result.append(item)
print(f"Data List: {data}")
print(f"Greater than 5: {result}")

    
print("-----------")

numbers = [1, 4, 7, 2, 8, 5]
threshold = 5
index = 0

while (current := numbers[index]) < threshold:
    print(f"Processing {current} (index {index})")
    index += 1

print(f"Stopped at {current} (index {index}), as it is greater than or equal to {threshold}")

15 is greater than 10
-----------
Data List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Greater than 5: [6, 7, 8, 9, 10]
-----------
Processing 1 (index 0)
Processing 4 (index 1)
Stopped at 7 (index 2), as it is greater than or equal to 5

# List / Indexing and Slicing
    *Postive and negative  Index

In [120]:
a : int = 10_000_00
print(f"Long value for understand (10_000_00): {a}")

my_list : list[str] = list("1234567890")
print(my_list) 
print("-----------")

my_list = [10, 20, 30, 40, 50]

# Basic slicing
print(f"Postive --> {my_list[0:3]}")  
print(f"Negative  --> {my_list[-1:-3:-1]}")

Long value for understand (10_000_00): 1000000
['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']
-----------
Postive --> [10, 20, 30]
Negative  --> [50, 40]

# List Functions

In [144]:
my_list : list[str] = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']
print(f"My List :{my_list}")
print(f"Pop (remove) Index 1: {my_list.pop(2)}")
print(f"My List (Updated) :{my_list}")
my_list.append("3")
print(f"My List (Updated) :{my_list}")
my_list.insert(2,"3")
my_list.pop(10)
print(f"My List (Updated) :{my_list}")

My List :['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']
Pop (remove) Index 1: 3
My List (Updated) :['1', '2', '4', '5', '6', '7', '8', '9', '0']
My List (Updated) :['1', '2', '4', '5', '6', '7', '8', '9', '0', '3']
My List (Updated) :['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']